{% extends '::template_parent.html.twig' %}
{% block header %}
 <div class="navbar navbar-inverse">
  <div class="container">
   <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
	<li><img  style="width:80px ; height:50px;" src="{{ asset('logo.png') }}"></li>
	<li><a onClick="getPage('{{ path('getRules') }}');window.history.pushState('object or string', 'Title', 'rules');" class="lien">Rules</a></li>
	<li><a onClick="getPage('{{ path('getTasks') }}');window.history.pushState('object or string', 'Title', 'tasks');" class="lien">Tasks</a></li>
	<li><a onClick="getPage('{{ path('getScore') }}');window.history.pushState('object or string', 'Title', 'score');"  class="lien">Ranking</a></li>
	<li><a onClick="getPage('{{ path('getStat')}}');window.history.pushState('object or string', 'Title', 'stat');" class="lien">Statistiques</a></li>
    </ul>
   <div class="navbar-right">
	<a href="{{ path('logout') }}"><button class="btn btn-danger " style="height:50px;"><b>Log out <br>({{ app.user.username  }})</b></button></a>
   </div>
  </div>
 </div>
</div>	
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 <script  language="javascript">
  function getNews(url){
   $.ajax({
	type : "GET" ,
	url : url ,
	dataType : "json",
	success : function(data){
	 if (data.exist) {alert("Info \n "+data.news);}
	}
   });
  }
  window.setInterval(function(){getNews("{{ path('getNews') }}")},30000);
 </script>
{% endblock %}

{% block mainBox %}
 {% if page_included == false or page_included == "SecurinetsFrontOfficeBundle:Challenge:rules.html.twig" %}{{ render(controller('SecurinetsFrontOfficeBundle:Default:getRules')) }}
 {% elseif page_included == "SecurinetsFrontOfficeBundle:Challenge:tasks.html.twig" %}{{ render(controller("SecurinetsFrontOfficeBundle:Challenge:getTasks" )) }} {# ou render(path("getTasks")) #}
 {% elseif page_included == "SecurinetsFrontOfficeBundle:Challenge:score.html.twig" %}{{ render(controller("SecurinetsFrontOfficeBundle:Challenge:getScore" )) }}
 {% elseif page_included == "SecurinetsFrontOfficeBundle:Challenge:stat.html.twig" %}{{ render(controller("SecurinetsFrontOfficeBundle:Challenge:getStat" )) }}
 {% endif %}
{% endblock %}

{% block info_challenger %}
{{ render(controller('SecurinetsFrontOfficeBundle:Challenge:challengerInfo')) }}
{% endblock %}
